.default-content iframe	{
	border: 1px solid #333;
	width: 100%;
	height: 300px;
	}
	
#scroller {
	max-width: 80%;
	height: 280px;
	overflow: auto;
}
#vertical-scroll {
	padding-left: 120px;
}

#long div	{
	float: left;}
	
#long	{
	width: 10000px;
}
	
#long p	{
	margin: 0 0 0 20px;	
	color: #666;
	width: 130px;
	font-size: 13px;
	font-family: 'Lato', Calibri, Arial, sans-serif;		
}
		
#long img	{
	margin-right: 30px;
	margin-bottom: 10px;
}
	
img	{
	border: none;
}

a:link, a:visited {
	color: #333;
	text-decoration: none;
	letter-spacing: .9px;
	font-weight: bold;
}
	
a:hover {
	color: #666;
	text-decoration: none;
}
	
footer	{
	text-align: right;
	font-size: 10px;
	color: #888;	
	top: 725px;
	left: 230px;
	border-top: 1px solid #ddd;
	width: 830px;
	position: absolute;
	}

